:root.theme-dark {
  --main-font-family: "IBM Plex Mono", monospace;
  --main-font-size: 18px;
  --main-title-size: 157px;
  --bg-color: #000028;
  --bg-elements-color: #ff0070;
  --corner-color: #ff0070;
  --text-color: #f1b2ce;
  --text-elements-color: #000028;
  --main-title-color: #db00ff;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --button-font-family: "IBM Plex Mono", monospace;
  --button-font-size: 18px;
  --rec-display: block;
  --title-decor: #000028;
  --title-small: #000028;
  --title-color: #ff0070;
  --link-color: #f1b2ce;
  --link-shadow: #ff0070;
  --button-color: #ff0070;
  --button-text-color: #ff0070;
}
