/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

a.link {
  text-shadow: 2px 2px 0 var(--link-color);
  text-decoration: none;
}

a.link:hover {
  border-bottom: 1px solid var(--link-color);
}

a.link:focus-visible {
  border-bottom: 1px solid var(--link-color);
  outline: none;
}

.main-text {
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  color: var(--text-color);
}

.title-decor {
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  font-weight: 700;
  background-color: var(--bg-elements-color);
  color: var(--title-decor);
}

.title_main_decor {
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  font-weight: 700;
  color: var(--title-color);
}

.title_small_how {
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  font-weight: 400;
  color: var(--title-small);
  background-color: var(--bg-elements-color);
}

.decorated-zone::before {
  /*  правый верхний уголок*/
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
  top: 1px;
  right: 10px;
}

.decorated-zone::after {
  /*  левый нижний уголок*/
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
  bottom: 1px;
  left: 10px;
}

.rec {
  grid-column-end: auto;
  justify-self: end;
  display: var(--rec-display);
  position: absolute;
  text-transform: uppercase;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  color: var(--bg-elements-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0 10px;
  width: 69px;
  height: 25px;
  outline: none;
  color: var(--button-text-color);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border: 1px solid var(--button-color);
  outline: none;
}

@media (width < 768px) {
  .page {
    background-color: var(--bg-color);
  }

  .main-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  /*HEADER*/

  .decorated-zone {
    height: 100vh;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    margin: 8.5px 0 0px 0;
  }

  .rec {
    grid-column: 1;
    grid-row: 1;
    width: 72px;
    height: 26px;
    padding-top: 1px;
  }

  .rec::before {
    padding-top: 19px;
  }

  .rec::after {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 10px;
    background-color: var(--bg-elements-color);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--bg-elements-color);
  }

  .header__theme-menu {
    position: absolute;
    grid-column: 1;
    grid-row: 2;
    padding-top: 64px;
    padding-right: 10.5px;
    justify-self: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  .header.decorated-zone::after {
    bottom: 40px;
  }

  .header__title {
    grid-column: 1;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    grid-row: 3;
    font-family: var(--main-font-family);
    text-shadow: 4px 4px 0 var(--accent-color);
    color: var(--main-title-color);
    line-height: 83%;
  }

  h1 {
    padding-top: 190px;
  }

  .description {
    grid-column: 1;
    grid-row: 4;
    padding-top: 20px;
    padding-bottom: 55px;
  }

  /*SECTION 1 WHY*/
  .why {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    width: 100%;
  }

  .text_inside_why {
    padding-top: 10px;
  }

  /*SECTION 2 WHAT*/

  .what {
    margin-top: 52px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    width: 100%;
  }

  .paragrph-what {
    padding-top: 5px;
  }

  .text_inside_what {
    padding-top: 10px;
  }

  .card-what {
    padding-bottom: 5px;
  }

  /*SECTION 3 HOW*/

  .how {
    margin-top: 52px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    width: 100%;
  }

  .title_list {
    background-color: var(--bg-elements-color);
  }

  .main-text-how {
    padding-top: 10px;
  }

  .card-how {
    padding-bottom: 3px;
  }

  /*SECTION 3 Gallery/*/

  .gallery {
    margin-top: 51px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    box-sizing: border-box;
    grid-auto-flow: dense;
    width: 100%;
  }

  .title_gallery {
    background-color: var(--bg-elements-color);
  }

  .gallery__item {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
  }

  .gallery__image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  footer {
    margin: 211px 0 100px 0;
  }
  h2 {
    padding: 60px 0 60px 3px;
  }

  .footer.decorated-zone::before {
    top: 42px;
  }

  .footer.decorated-zone::after {
    bottom: 10px;
  }
}

@media (width >= 768px) {
  .page {
    background-color: var(--bg-color);
  }

  /*HEADER*/
  .decorated-zone {
    height: 100vh;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0 0 0;
    padding-right: 10px;
  }

  .rec {
    grid-column-start: 2;
    width: 81px;
    height: 26px;
  }

  .rec::before {
    padding-right: 90px;
    padding-top: 19px;
  }

  .rec::after {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 10px;
    background-color: var(--bg-elements-color);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--bg-elements-color);
  }

  .header__theme-menu {
    grid-column: 2;
    padding-top: 170px;
    padding-right: 12px;
    justify-self: end;
    justify-content: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  .header.decorated-zone::before {
    right: 20px;
  }

  .header.decorated-zone::after {
    left: 20px;
  }

  .header__title {
    grid-column: 1 / span 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-family: var(--main-font-family);
    text-shadow: 4px 4px 0 var(--accent-color);
    color: var(--main-title-color);
    padding-top: 0;
  }

  h1 {
    padding-top: 145px;
  }

  .description {
    grid-column: 2 / span 3;
    padding: 100px 12px 124px 6px;
  }

  /*SECTION 1 WHY*/
  .why {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 17px;
  }

  .title_main {
    grid-column: 1;
  }

  .title_inside_why {
    background-color: var(--bg-elements-color);
  }

  .text_inside_why {
    padding-top: 10px;
  }

  .card-why {
    grid-column: 2;
  }

  /*SECTION 2 WHAT*/

  .what {
    margin-top: 80px;
    margin-left: 21px;
    margin-right: 21px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .paragrph-what {
    padding-top: 5px;
  }

  .title_main_what {
    padding-right: 500px;
  }

  .text_inside_what {
    padding-top: 10px;
  }

  /*SECTION 3 HOW*/

  .how {
    margin-top: 104px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto repeat(5, minmax(0, auto));
    gap: 20px;
  }

  .title-how {
    grid-column: 1;
    grid-row: 1 / span 6;
  }

  .title_inside_how {
    padding-bottom: 10px;
  }

  .title_list {
    grid-column: 2;
    grid-row: 1;
  }

  .main-text-how {
    padding-top: 10px;
  }

  .sky {
    grid-column: 2;
    grid-row: 2;
    padding-top: 3px;
  }

  .musik {
    grid-column: 2;
    grid-row: 3;
  }

  .walk {
    grid-column: 2;
    grid-row: 4;
  }

  .eat {
    grid-column: 2;
    grid-row: 5;
  }

  .read {
    grid-column: 2;
    grid-row: 6;
  }

  /*SECTION 3 Gallery/*/

  .gallery {
    margin-top: 98px;
    padding-inline: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;
    grid-auto-flow: dense;
  }

  .title_gallery {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .gallery__item {
    box-sizing: border-box;
    margin: 0;
  }

  .gallery__image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .gallery__item:nth-child(2) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(4) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(6) {
    grid-column: span 2;
  }

  footer {
    margin-top: 38px;
  }

  .footer__title {
    padding-left: 200px;
    padding-top: 480px;
  }

  .footer.decorated-zone::before {
    top: 62px;
    right: 20px;
  }

  .footer.decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width >= 1024px) {
  .page {
    background-color: var(--bg-color);
  }

  .main-container {
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    padding-top: 0;
  }

  /*HEADER*/
  .decorated-zone {
    height: 100vh;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 17px 0 0;
  }

  .rec {
    padding-right: 10px;
    padding-top: 19px;
    grid-column-start: 3;
    grid-column-end: auto;
    grid-row: 1;
  }

  .rec::before {
    padding-right: 50px;
    padding-top: 19px;
  }

  .rec::after {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 10px;
    background-color: var(--bg-elements-color);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--bg-elements-color);
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
    padding-top: 20px;
    padding-right: 45px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13px;
  }

  .header.decorated-zone::before {
    top: 20px;
  }

  .header.decorated-zone::after {
    bottom: 20px;
  }

  .header__title {
    grid-column: 1 / span 3;
    font-size: clamp(
      7.5rem,
      0.5625rem + 14.4531vw,
      9.8125rem
    ); /* Для планшета и десктопа */
    grid-row: 2;
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family);
    text-shadow: 4px 4px 0 var(--accent-color);
    color: var(--main-title-color);
  }

  h1.header__title {
    padding-top: 226px;
  }

  .description {
    grid-column: 2 / span 3;
    grid-row: 3;
    padding-top: 61px;
    padding-left: 176px;
    padding-right: 20px;
  }

  .header__description {
    max-height: 71px;
    min-width: 491px;
  }

  /*SECTION 1 WHY*/
  .why {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2.3fr;
    gap: 17px;
  }

  .title_main {
    grid-column: 1;
    padding: 0;
  }

  .text_inside_why {
    padding-top: 10px;
  }

  .card-why {
    grid-column: 2;
    padding-left: 23px;
  }

  /*SECTION 2 WHAT*/

  .what {
    margin: 77px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .mnogozadchnost-what {
    grid-column: 1;
    padding-top: 5px;
  }

  .food {
    grid-column: 2;
    padding-top: 5px;
  }

  .gadgets {
    grid-column: 3;
    padding-left: 2px;
    padding-top: 5px;
  }

  .text_inside_what {
    padding-top: 10px;
  }

  /*SECTION 3 HOW*/

  .how {
    margin: 78px 0 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2.1fr;
    grid-template-rows: auto repeat(5, minmax(0, auto));
    gap: 18px;
  }

  .title-how {
    grid-column: 1;
    grid-row: 1 / span 6;
  }
  .card-how {
    padding-left: 4px;
  }

  .title_list {
    grid-column: 2;
    grid-row: 1;
    padding-left: 5px;
  }

  .main-text-how {
    padding-top: 10px;
  }

  .sky {
    grid-column: 2;
    grid-row: 2;
    padding-top: 3px;
  }

  .musik {
    grid-column: 2;
    grid-row: 3;
  }

  .walk {
    grid-column: 2;
    grid-row: 4;
  }

  .eat {
    grid-column: 2;
    grid-row: 5;
    padding-top: 3px;
  }

  .read {
    grid-column: 2;
    grid-row: 6;
    padding-top: 3px;
  }

  /*SECTION 3 Gallery/*/

  .gallery {
    margin-top: 79px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;
    grid-auto-flow: dense;
  }

  .title_gallery {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .gallery__item {
    box-sizing: border-box;
    margin: 0;
  }

  .gallery__image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .gallery__item:nth-child(2) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(4) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(6) {
    grid-column: span 2;
  }

  footer {
    position: relative;
    margin-top: 110px;
    padding-inline: 20px;
    text-align: center;
  }

  .footer__title {
    padding-right: 10px;
    padding-top: 125px;
  }

  .footer.decorated-zone::before {
    top: 79px;
    right: 21px;
  }

  .footer.decorated-zone::after {
    top: 778px;
    bottom: 0;
    left: 20px;
  }
}
