/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/*общее*/

:root {
  --main-font-family: "IBM Plex Mono", monospace;
  --main-font-size: 18px;
  --h1-size: 157px;
  --bg-color: #000028;
  --bg-elements-color: #ff0070;
  --text-color: #f1b2ce;
  --text-elements-color: var(--title-small);
  --h1-color: #db00ff;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --button-font-family: "IBM Plex Mono", monospace;
  --button-font-size: 18px;
  --rec-display: block;
  --title-decor: #ff0070;
  --title-small: #000028;
  --link-color: #ff0070;
  --button-color: #ff0070;
  --button-text-color: #ff0070;
}
